.normal {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 120px;
}

.container {
    padding: 0;
    margin: 0 auto;
    width: 630px;
    height: 300px;
    text-align: center;
    .img-box {
        display: inline-block;
        width: 265px;
        height: 265px;
        margin-right: 60px;
        position: relative;
        top: 50%;
        background: #dfffff;
        opacity: 0.6;
        border-radius: 50%;
        .img {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -100px;
            background: url('../static/images/Cry_sadly.png');
            background-size: 100% 100%;
        }
    }
    .txt-box {
        display: inline-block;
        width: 300px;
        height: 300px;
        position: relative;
        top: 16%;
        .tit {
            color: rgb(51, 51, 51);
            font-size: 24px;
            margin: 20px 0;
        }
        .description {
            font-size: 16px;
            color: rgb(146, 146, 146);
        }
    }
}

.title {
    font-size: 80px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
}
